/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  text-align: left;
}

.card img {
  max-width: 100%;
}

.card button {
  margin: 5px;
}

/* src/components/header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #f9f9f9;
}

.header__logo {
  object-fit: contain;
  height: 90px;
}

.header__icon {
  padding: 20px;
}