/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  text-align: left;
}

.card img {
  max-width: 100%;
}

.card button {
  margin: 5px;
}

/* src/components/header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #f9f9f9;
}

.header__logo {
  object-fit: contain;
  height: 90px;
}

.header__icon {
  padding: 20px;
}

/* src/components/swipebuttons.css */
.SwipeButtons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.SwipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.SwipeButtons__repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.SwipeButtons__left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.SwipeButtons__star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.SwipeButtons__right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}

.SwipeButtons__lightning {
  padding: 3vw !important;
  color: #915dd1 !important;
}